<div class="window-comment">
  <div class="comment">
    <div class="block-comment-textarea">
    <textarea class="comment-textarea" placeholder="Write a comment" name="text-of-comment"
              (change)="changeForm()"
              (input)="comment.text = $event.target.value; changeForm()"
              [value]="comment.text">
    </textarea>
    </div>
    <div class="block-comment-select">
      <div class="block-comment-select-with-name">
        <select class="comment-select" name="doctor-of-comment"
                (change)="changeDoctor(); changeForm()"
                [(ngModel)]="this.comment.doctor.id"
                *ngIf="doctors.length">
          <option value="" disabled selected>Choose a doctor</option>
          <option *ngFor='let doctor of doctors' [value]='doctor.id'>
            Dr. {{doctor.firstName}} {{doctor.lastName}}
          </option>
        </select>
      </div>
      <div class="block-submit-comment-button">
        <button class="submit-comment-button" title="Clear form" (click)="cancelComment()">
          Cancel
          <img class="img-comment" src="assets/images/cancel.png">
        </button>
        <button class="submit-comment-button"
                [title]="titleSave"
                [disabled]="isSaveDisabled"
                (click)="saveComment()">
          Save
          <img class="img-comment" src="assets/images/dm.png">
        </button>
      </div>
    </div>
  </div>
</div>
