.block-list-patients {
  height: 100%;
  width: 100%;
  min-width: 250px;
  border: 5px solid #01234c;
  overflow: hidden;
}

.list {
  padding-top: 3px;
  font-family: AcademezColonnaMT;
  text-align: center;
  font-size: 43px;
  color: #01234c;
  border-bottom: 5px solid #01234c;
  align-content: center;
  height: 70px;
}

.patients-container {
  overflow: auto;
  height: calc(100% - 70px);
}

.patients {
  list-style-type: none;
  padding: 0;
}

.patients li {
  margin: 10px;
}

.one-patient {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 8px 5px 5px 10px;
}

.img-gender {
  width: 40px;
  box-shadow: 0 0 3px rgba(200, 200, 200, 0.9), 0 0 5px rgba(230, 230, 230, 0.8);
  border-radius: 5px;
}

.patients a {
  color: #333;
  text-decoration: none;
  background-color: rgba(192, 201, 255, 0.197);
  border-radius: 4px;
  display: block;
  width: 100%;
  transition: all 0.3s;
  cursor: pointer;

}

.patients a:hover {
  color: #2c3a41;
  background-color: rgba(188, 202, 255, 0.333);
  box-shadow: 0 2px 5px rgba(61, 91, 145, 0.25);
  transition: all 0.2s;
}

.patients a:hover .img-gender {
  box-shadow: 0 0 2px rgba(200, 200, 200, 0.7);
  background: ghostwhite;
  transition: all 0.2s;
}

.block-show-patient-outlet {
  width: 75%;
  border: 5px solid #01234c;
  border-left: none;
}

.empty-list {
  width: 80%;
  border-radius: 5px;
  margin: auto;
  margin-top: 10px;
  padding: 8px;
  text-align: center;
  background-color: rgba(188, 202, 255, 0.333);
  box-shadow: 1px 3px 7px rgba(61, 91, 145, 0.25);
  font-size: 17px;
}
