<div class="block-input-patient">
  <input class="input-new-patient" type="text" placeholder="Enter patient first name"
         (change)="checkPatternFirstName()"
         (input)="patient.firstName = $event.target.value; checkPatternFirstName()"
         [value]="patient.firstName">
  <div class="conditions"
       [hidden]="patternFirstName">
    The first name must begin with capital letter and contain only latin letters or -(dash).
    Example: Mark or Anna-Maria
  </div>
  <input class="input-new-patient" type="text" placeholder="Enter patient last name"
         (change)="checkPatternLastName()"
         (input)="patient.lastName = $event.target.value; checkPatternLastName()"
         [value]="patient.lastName">
  <div class="conditions"
       [hidden]="patternLastName">
    The last name must begin with capital letter and contain only latin letters or -(dash).
    Example: Rivera, Zeta-Jones.
  </div>
  <div class="block-no-input">
    <p>Select your sex:</p>
    <div>
      <div>
        <input type="radio" id="female" name="sex"
               [checked]="isFemale" (change)="changeForm(); isFemale=$event.target.checked">
        <label for="female">female</label>
      </div>
      <div>
        <input type="radio" id="male"
               name="sex"
               [checked]="!isFemale" (change)="changeForm(); isFemale=!$event.target.checked">
        <label for="male">male</label>
      </div>
    </div>
  </div>
  <div class="block-no-input">
    <label for="bday">Enter patient birthday: </label>
    <input class="block-no-input-data" type="date" id="bday" name="bday"
           [value]="patient.birthday | date:'yyyy-MM-dd'"
           (input)="patient.birthday = $event.target.value; changeForm(); checkPatternBirthday()">
  </div>
  <div class="conditions"
       [hidden]="patternBirthday">
    The birthday cannot be empty.
  </div>
  <input class="input-new-patient" type="text" placeholder="Enter patient country"
         (change)="checkPatternCountry()"
         (input)="patient.country = $event.target.value; checkPatternCountry()"
         [value]="patient.country">
  <div class="conditions"
       [hidden]="patternCountry">
    The country must begin with capital letter and contain one or more capitalize or lower only latin letters or -(dash).
    Example: USA, Ukraine, Costa Rica, Timor-Leste.
  </div>
  <input class="input-new-patient" type="text" placeholder="Enter patient state"
         (change)="checkPatternState()"
         (input)="patient.state = $event.target.value; checkPatternState()"
         [value]="patient.state">
  <div class="conditions"
       [hidden]="patternState">
    The state must begin with capital letter and contain one or more capitalize or lower only latin letters or -(dash).
    Example: Florida, West Virginia, Trentino-Alto.
  </div>
  <input class="input-new-patient" type="text" placeholder="Enter patient address"
         (change)="checkPatternAddress()"
         (input)="patient.address = $event.target.value; checkPatternAddress()"
         [value]="patient.address">
  <div class="conditions"
       [hidden]="patternAddress">
    The address cannot be empty.
  </div>
  <div class="buttons-patient">
    <button class="submit-patient-button"
            title="Clear form"
            (click)="cancelPatient()">
      Cancel
      <img class="img-doctor" src="assets/images/cancel-user.png">
    </button>
    <button class="submit-patient-button"
            [disabled]="isSaveDisabled"
            [title]="titleSave"
            (click)="funcCheckSex(); savePatient.emit(patient)">
      Save
      <img class="img-doctor" src="assets/images/add-user.png">
    </button>
  </div>
</div>

